<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<head>
	<title></title>
</head>
<body>
	<h1 class="myh1">admin login</h1>
	<form action="/admin/login" method="post">
		<input type="text" placeholder="login" name="name"></input>
		<input type="text" placeholder="password" name="password"></input>
		<button type="submit">login</button>
	</form>
</body>
</html>