<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<head>
	<title></title>
</head>
<body>
	<h1 class="myh1">admin page</h1>
	<form>
		<h3> make board </h3>
		<input type="text" placeholder="title"></input>
		<input type="text" placeholder="acronym"></input>
		<input type="text" placeholder="url"></input>
		<button type="submit">make</button>
	</form>
</body>
</html>